# Ignore everything
*

# Allow Python files
!*.py
!*.jsonl
!*.yaml
!*.gitignore
!*.txt
!*.gitattributes
!*.sh
!README.md

# Allow image files
!*.png
!*.jpg
# Allow directories so Python files in subdirectories are tracked
!*/